<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<!-- 최초 연결 문자열 -->
		<!--<add name="ConnectionString" connectionString="server=localhost;database=ssms;uid=sa;password=mssql_p@ssw0rd" />-->
		<!-- DBContext 연결 문자열 -->
		<!--<add name="ssms.Properties.Settings.ssmsConnectionString" connectionString="Data Source=localhost;Initial Catalog=ssms;Integrated Security=True;uid=sa;password=mssql_p@ssw0rd" providerName="System.Data.SqlClient" />-->
		<!-- EF 연결 문자열 -->
		<add name="ssmsEntities" connectionString="metadata=res://*/Models.SmmsDbModel.csdl|res://*/Models.SmmsDbModel.ssdl|res://*/Models.SmmsDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=ssms;persist security info=True;user id=sa;password=mssql_p@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>